# Minecraft

coremods/
crash-reports/
defaultconfigs/
fancymenu_data/
local/
logs/
modernfix/
moonlight-global-datapacks/
patchouli_books/
saves/
schematics/
screenshots/
server-resource-packs/
shaderpacks/
spiffy_instance_data/
tacz/
tacz_backup/
texturepacks/
xaero/
XaeroWaypoints_*/
.qmenu_*
*.json
*.logs
