# Minecraft
coremods/
crash-reports/
defaultconfigs/
fancymenu_data/
local/
logs/
modernfix/
moonlight-global-datapacks/
patchouli_books/
saves/
schematics/
screenshots/
server-resource-packs/
shaderpacks/
spiffy_instance_data/
tacz/
tacz_backup/
texturepacks/
xaero/
XaeroWaypoints_*/
.qmenu_*

# Logs e cache
*.log
*.dat
!servers.dat
mods/.index/
resourcepacks/.index/

# Configurações do cliente (player-specific)
options.txt
*.properties
!server.properties

# JSON desnecessários
checkbox_states.json
emi.json
patchouli_data.json
usercache.json
usernamecache.json

# Config: ignore tudo, mas whitelist o necessário
config/*
!config/fancymenu/
!config/quark-common.*
!config/drippyloadingscreen/
